li {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  font-size: 0.8em;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.task-name {
  width: calc(100% - 40px);
  padding-right: 5px;
}

.promote {
  width: 35px;
}

.promote button {
  border: none;
  font-size: 1em;
  line-height: 1.1em;
  padding: 2px;
}
